.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #000;
}

.main_pic {
  height: calc(100% - 150px);
  width: 100%;
}

.kiosk_module_section {
  height: 150px;
  width: 100%;
}

.carousel {
  height: 100% !important;
}

.slide {
  height: 100% !important;
}

.carousel_img_box {
  height: 100% !important;
  display: flex;
  align-items: center;
}

.bg {
  position: absolute;
  z-index: -9999;
  opacity: 0.2;
}

.title {
  position: absolute;
  z-index: 9999;
  color: white;
  top: 10px;
  padding: 20px;
  font-size: 4rem;
}
