.modules_menu {
  position: relative;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 60% !important;
  width: 60% !important;
  justify-content: start;
}

.nav_items {
  height: 6rem !important;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  font-size: 3rem;
  gap: 2rem;
  padding-left: 2px;
}

.selector {
  position: absolute;
  z-index: -1000;
  border-radius: 10px;
  width: 100%;
  height: inherit;
  background-color: rgba(233, 150, 122, 0.6);
}

@media (min-width: 1500px) {
  .modules_menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav_items {
    max-width: 300px !important;
  }
}

@media (min-width: 1920px) {
  .modules_menu {
    grid-template-columns: repeat(4, 1fr);
  }

  .nav_items {
    max-width: 300px !important;
  }
}
