.modules_menu {
  position: relative;
  top: 100% !important;
  left: 0px;
  transform: translateY(-50%);
  width: 100vw !important;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
  transform: translateY(-100%);
  background: #fff;
}

.nav_items {
  height: 100px;
  width: 100px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.selector {
  position: absolute;
  z-index: -1000;
  border-radius: 10px;
  width: 100px;
  height: inherit;
  background-color: rgba(233, 150, 122, 0.6);
}

@media (min-width: 1500px) {
  .modules_menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav_items {
    max-width: 300px !important;
  }
}

@media (min-width: 1920px) {
  .modules_menu {
    grid-template-columns: repeat(4, 1fr);
  }

  .nav_items {
    max-width: 300px !important;
  }
}
